In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('placementdata.csv')

In [3]:
data.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus
0,1,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed

In [4]:
data.dropna()
total=data.isna().sum()
print(total)

StudentID                    0
CGPA                         0
Internships                  0
Projects                     0
Workshops/Certifications     0
AptitudeTestScore            0
SoftSkillsRating             0
ExtracurricularActivities    0
PlacementTraining            0
SSC_Marks                    0
HSC_Marks                    0
PlacementStatus              0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  10000 non-null  int64
 1   CGPA                       10000 non-null  float64
 2   Internships                10000 non-null  int64
 3   Projects                   10000 non-null  int64
 4   Workshops/Certifications   10000 non-null  int64
 5   AptitudeTestScore          10000 non-null  int64
 6   SoftSkillsRating           10000 non-null  float64
 7   ExtracurricularActivities  10000 non-null  object
 8   PlacementTraining          10000 non-null  object
 9   SSC_Marks                  10000 non-null  int64
 10  HSC_Marks                  10000 non-null  int64
 11  PlacementStatus            10000 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 937.6+ KB

In [6]:
data.drop(['StudentID'], axis='columns', inplace=True)

In [7]:
data['ExtraActivities']=[1 if x=="Yes" else 0 for x in data['ExtracurricularActivities']]
data['PlacementTrain']=[1 if x=="Yes" else 0 for x in data['PlacementTraining']]
data['y']=[1 if x =='Placed' else 0 for x in data['PlacementStatus']]
data.head()

,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus,ExtraActivities,PlacementTrain,y
0,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced,0,0,0
1,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed,1,1,1
2,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced,1,0,0
3,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed,1,1,1
4,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed,1,1,1

In [8]:
data.drop(['ExtracurricularActivities','PlacementTraining','PlacementStatus'],axis = 'columns', inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CGPA                      10000 non-null  float64
 1   Internships               10000 non-null  int64
 2   Projects                  10000 non-null  int64
 3   Workshops/Certifications  10000 non-null  int64
 4   AptitudeTestScore         10000 non-null  int64
 5   SoftSkillsRating          10000 non-null  float64
 6   SSC_Marks                 10000 non-null  int64
 7   HSC_Marks                 10000 non-null  int64
 8   ExtraActivities           10000 non-null  int64
 9   PlacementTrain            10000 non-null  int64
 10  y                         10000 non-null  int64
dtypes: float64(2), int64(9)
memory usage: 859.5 KB

In [10]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1:]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [12]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import StackingRegressor

knn = KNeighborsRegressor()
lr = LinearRegression()
dtr = DecisionTreeRegressor()
model = StackingRegressor(estimators=[('knn', knn),('lr', lr),('dt', dtr)], final_estimator=KNeighborsRegressor())

model.fit(X_train,y_train.to_numpy().ravel())

y_predict = model.predict(X_test)
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test,y_predict)
print(mse)

0.17242000000000002

In [13]:
import pickle

model_filename = 'placement_model.pkl'

with open(model_filename, 'wb') as file:
    pickle.dump(model, file)

print(f"Model Saved as {model_filename}")

Model Saved as placement_model.pkl